# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
app/_js-d3/12_JS/run_live_server.sh
app/_js-d3/12_JS/.vscode/tags
app/_js-d3/12_JS/01_Ins_WebJavaScript/app.js
app/_js-d3/12_JS/01_Ins_WebJavaScript/README.md
app/_js-d3/12_JS/01_Ins_WebJavaScript/ScriptOutside.html
app/_js-d3/12_JS/01_Ins_WebJavaScript/ScriptWithin.html
app/_js-d3/12_JS/02_Evr_PythonToJavaScript/JS_ConditionalCheck.html
app/_js-d3/12_JS/02_Evr_PythonToJavaScript/JS_HelloVariableWorld.html
app/_js-d3/12_JS/02_Evr_PythonToJavaScript/Py_ConditionalCheck.py
app/_js-d3/12_JS/02_Evr_PythonToJavaScript/Py_HelloVariableWorld.py
app/_js-d3/12_JS/02_Evr_PythonToJavaScript/README.md
app/_js-d3/12_JS/03_Stu_JsConundrum/JSMaze.html
app/_js-d3/12_JS/03_Stu_JsConundrum/README.md
app/_js-d3/12_JS/03_Stu_JsConundrum/Solved/Example/JSMaze.html
app/_js-d3/12_JS/04_Ins_PromptAlert/PromptAlert.html
app/_js-d3/12_JS/04_Ins_PromptAlert/README.md
app/_js-d3/12_JS/05_Stu_RockPaperScissors/index.html
app/_js-d3/12_JS/05_Stu_RockPaperScissors/README.md
app/_js-d3/12_JS/05_Stu_RockPaperScissors/Solved/bonus.html
app/_js-d3/12_JS/05_Stu_RockPaperScissors/Solved/bonus.js
app/_js-d3/12_JS/05_Stu_RockPaperScissors/Solved/index.html
app/_js-d3/12_JS/06_Ins_ForLoops/index.html
app/_js-d3/12_JS/06_Ins_ForLoops/README.md
app/_js-d3/12_JS/06_Ins_ForLoops/.vscode/tags
app/_js-d3/12_JS/07_Stu_MovieScore/app.js
app/_js-d3/12_JS/07_Stu_MovieScore/index.html
app/_js-d3/12_JS/07_Stu_MovieScore/README.md
app/_js-d3/12_JS/07_Stu_MovieScore/Solved/app.js
app/_js-d3/12_JS/07_Stu_MovieScore/Solved/index.html
app/_js-d3/12_JS/08_Ins_JsObjects/ind3x.js
app/_js-d3/12_JS/08_Ins_JsObjects/index.html
app/_js-d3/12_JS/08_Ins_JsObjects/index.js
app/_js-d3/12_JS/08_Ins_JsObjects/README.md
app/_js-d3/12_JS/09_Stu_Objects/index.html
app/_js-d3/12_JS/09_Stu_Objects/index.js
app/_js-d3/12_JS/09_Stu_Objects/README.md
app/_js-d3/12_JS/09_Stu_Objects/Solved/ind3x.js
app/_js-d3/12_JS/09_Stu_Objects/Solved/index.html
app/_js-d3/12_JS/09_Stu_Objects/Solved/index.js
app/_js-d3/12_JS/10_Ins_InnerHTML/ind3x.js
app/_js-d3/12_JS/10_Ins_InnerHTML/index.html
app/_js-d3/12_JS/10_Ins_InnerHTML/index.js
app/_js-d3/12_JS/10_Ins_InnerHTML/README.md
app/_js-d3/12_JS/11_Stu_ListItemHTML/index.html
app/_js-d3/12_JS/11_Stu_ListItemHTML/index.js
app/_js-d3/12_JS/11_Stu_ListItemHTML/README.md
app/_js-d3/12_JS/11_Stu_ListItemHTML/Solved/ind3x.js
app/_js-d3/12_JS/11_Stu_ListItemHTML/Solved/index.html
app/_js-d3/12_JS/11_Stu_ListItemHTML/Solved/index.js
app/_js-d3/12_JS/12_Ins_EventListeners/ind3x.html
app/_js-d3/12_JS/12_Ins_EventListeners/ind3x.js
app/_js-d3/12_JS/12_Ins_EventListeners/index.html
app/_js-d3/12_JS/12_Ins_EventListeners/index.js
app/_js-d3/12_JS/12_Ins_EventListeners/README.md
app/_js-d3/12_JS/13_Stu_Events/index.html
app/_js-d3/12_JS/13_Stu_Events/README.md
app/_js-d3/12_JS/13_Stu_Events/Solved/ind3x.html
app/_js-d3/12_JS/13_Stu_Events/Solved/ind3x.js
app/_js-d3/12_JS/13_Stu_Events/Solved/index.html
app/_js-d3/12_JS/13_Stu_Events/Solved/index.js
app/_js-d3/12_JS/14_Ins_Callbacks/index.html
app/_js-d3/12_JS/14_Ins_Callbacks/README.md
app/_js-d3/12_JS/15_Ins_ClickCounter/ind3x.html
app/_js-d3/12_JS/15_Ins_ClickCounter/ind3x.js
app/_js-d3/12_JS/15_Ins_ClickCounter/index.html
app/_js-d3/12_JS/15_Ins_ClickCounter/index.js
app/_js-d3/12_JS/15_Ins_ClickCounter/README.md
app/_js-d3/12_JS/15_Ins_ClickCounter/styles.css
app/_js-d3/12_JS/16_Stu_ClickBlue/blue.png
app/_js-d3/12_JS/16_Stu_ClickBlue/index.html
app/_js-d3/12_JS/16_Stu_ClickBlue/index.js
app/_js-d3/12_JS/16_Stu_ClickBlue/README.md
app/_js-d3/12_JS/16_Stu_ClickBlue/red.png
app/_js-d3/12_JS/16_Stu_ClickBlue/styles.css
app/_js-d3/12_JS/16_Stu_ClickBlue/Images/blue.png
app/_js-d3/12_JS/16_Stu_ClickBlue/Images/red.png
app/_js-d3/12_JS/16_Stu_ClickBlue/Solved/blue.png
app/_js-d3/12_JS/16_Stu_ClickBlue/Solved/index.html
app/_js-d3/12_JS/16_Stu_ClickBlue/Solved/index.js
app/_js-d3/12_JS/16_Stu_ClickBlue/Solved/red.png
app/_js-d3/12_JS/16_Stu_ClickBlue/Solved/styles.css
app/_js-d3/12_JS/17_Ins_MoviePatrons/index.html
app/_js-d3/12_JS/17_Ins_MoviePatrons/index.js
app/_js-d3/12_JS/17_Ins_MoviePatrons/README.md
app/_js-d3/12_JS/17_Ins_MoviePatrons/styles.css
app/_js-d3/12_JS/18_Stu_Customer_Orders/18_Stu_Customer_Orders_Solved.rar
app/_js-d3/12_JS/18_Stu_Customer_Orders/index.html
app/_js-d3/12_JS/18_Stu_Customer_Orders/order.png
app/_js-d3/12_JS/18_Stu_Customer_Orders/README.md
app/_js-d3/12_JS/18_Stu_Customer_Orders/styles.css
app/_js-d3/12_JS/18_Stu_Customer_Orders/Images/order.png
app/_js-d3/12_JS/18_Stu_Customer_Orders/Solved/index.html
app/_js-d3/12_JS/18_Stu_Customer_Orders/Solved/index.js
app/_js-d3/12_JS/18_Stu_Customer_Orders/Solved/order.png
app/_js-d3/12_JS/18_Stu_Customer_Orders/Solved/styles.css
app/_js-d3/12_JS/20_Stu_Create_Table/addressData.js
app/_js-d3/12_JS/20_Stu_Create_Table/filter.png
app/_js-d3/12_JS/20_Stu_Create_Table/index.html
app/_js-d3/12_JS/20_Stu_Create_Table/README.md
app/_js-d3/12_JS/20_Stu_Create_Table/styles.css
app/_js-d3/12_JS/20_Stu_Create_Table/table.png
app/_js-d3/12_JS/20_Stu_Create_Table/Images/filter.png
app/_js-d3/12_JS/20_Stu_Create_Table/Images/table.png
app/_js-d3/12_JS/20_Stu_Create_Table/Solved/addressData.js
app/_js-d3/12_JS/20_Stu_Create_Table/Solved/filter.png
app/_js-d3/12_JS/20_Stu_Create_Table/Solved/index.html
app/_js-d3/12_JS/20_Stu_Create_Table/Solved/index.js
app/_js-d3/12_JS/20_Stu_Create_Table/Solved/styles.css
app/_js-d3/12_JS/20_Stu_Create_Table/Solved/table.png
app/_js-d3/12_JS/21_Ins_JavaScript_Methods/index.html
app/_js-d3/12_JS/21_Ins_JavaScript_Methods/jsMethods.js
app/_js-d3/12_JS/21_Ins_JavaScript_Methods/README.md
app/_js-d3/12_JS/21_Ins_JavaScript_Methods/styles.css
app/_js-d3/12_JS/22_Stu_Splice/dna_unsolved.js
app/_js-d3/12_JS/22_Stu_Splice/index.html
app/_js-d3/12_JS/22_Stu_Splice/README.md
app/_js-d3/12_JS/22_Stu_Splice/Solved/index.html
app/_js-d3/12_JS/22_Stu_Splice/Solved/index.js
app/_js-d3/12_JS/23_Evr_D3_Select/index.html
app/_js-d3/12_JS/23_Evr_D3_Select/index.js
app/_js-d3/12_JS/23_Evr_D3_Select/README.md
app/_js-d3/12_JS/23_Evr_D3_Select/Solved/index.html
app/_js-d3/12_JS/23_Evr_D3_Select/Solved/index.js
app/_js-d3/12_JS/24_Stu_D3_Select/index.html
app/_js-d3/12_JS/24_Stu_D3_Select/README.md
app/_js-d3/12_JS/24_Stu_D3_Select/Images/movie1.png
app/_js-d3/12_JS/24_Stu_D3_Select/Images/movie2.png
app/_js-d3/12_JS/24_Stu_D3_Select/Solved/index.html
app/_js-d3/12_JS/25_Ins_Giphy_API/giphy-api.html
app/_js-d3/12_JS/25_Ins_Giphy_API/README.md
app/_js-d3/12_JS/25_Ins_Giphy_API/Solved/giphy-api.html
app/_js-d3/12_JS/26_Stu_Giphy/giphy.html
app/_js-d3/12_JS/26_Stu_Giphy/README.md
app/_js-d3/12_JS/26_Stu_Giphy/Solved/giphy.html
app/_js-d3/12_JS/27_Ins_D3_Events/index.html
app/_js-d3/12_JS/27_Ins_D3_Events/index.js
app/_js-d3/12_JS/27_Ins_D3_Events/README.md
app/_js-d3/12_JS/27_Ins_D3_Events/styles.css
app/_js-d3/12_JS/27_Ins_D3_Events/Solved/index.html
app/_js-d3/12_JS/27_Ins_D3_Events/Solved/index.js
app/_js-d3/12_JS/27_Ins_D3_Events/Solved/styles.css
app/_js-d3/12_JS/28_Stu_Giphy_Button/index.html
app/_js-d3/12_JS/28_Stu_Giphy_Button/README.md
app/_js-d3/12_JS/28_Stu_Giphy_Button/Solved/index.html
app/_js-d3/12_JS/29_Ins_Forms/index.html
app/_js-d3/12_JS/29_Ins_Forms/README.md
app/_js-d3/12_JS/29_Ins_Forms/Solved/index.html
app/_js-d3/12_JS/30_Stu_Giphy_Search/index.html
app/_js-d3/12_JS/30_Stu_Giphy_Search/README.md
app/_js-d3/12_JS/30_Stu_Giphy_Search/Solved/index.html
app/_js-d3/12_JS/31_Evr_This/README.md
app/_js-d3/12_JS/32_Ins-Data_Attribute/index.html
app/_js-d3/12_JS/32_Ins-Data_Attribute/README.md
app/_js-d3/12_JS/32_Ins-Data_Attribute/Solved/index.html
app/_js-d3/12_JS/33_Stu_This_Gif/index.html
app/_js-d3/12_JS/33_Stu_This_Gif/README.md
app/_js-d3/12_JS/33_Stu_This_Gif/Solved/index.html
app/_js-d3/12_JS/33_Stu_This_Gif/Solved/index.js
app/_js-d3/12_JS/34_Stu_WorkingMovieApp/README.md
app/_js-d3/12_JS/34_Stu_WorkingMovieApp/working-movie-app-unsolved.html
app/_js-d3/12_JS/34_Stu_WorkingMovieApp/Images/movieapp.png
app/_js-d3/12_JS/34_Stu_WorkingMovieApp/Solved/working-movie-app-solved.html
app/_js-d3/12_JS/Homework/data.js
app/_js-d3/12_JS/Homework/dataFull.json
app/_js-d3/12_JS/Homework/dataPart.json
app/_js-d3/12_JS/Homework/Readme.md
app/_js-d3/12_JS/Homework/Solutions/D3_Solution/index.html
app/_js-d3/12_JS/Homework/Solutions/D3_Solution/run_live_server.sh
app/_js-d3/12_JS/Homework/Solutions/D3_Solution/data/data.js
app/_js-d3/12_JS/Homework/Solutions/D3_Solution/data/dataFull.json
app/_js-d3/12_JS/Homework/Solutions/D3_Solution/data/dataPart.json
app/_js-d3/12_JS/Homework/Solutions/D3_Solution/images/nasa.jpg
app/_js-d3/12_JS/Homework/Solutions/D3_Solution/images/ufo.svg
app/_js-d3/12_JS/Homework/Solutions/D3_Solution/js/app.js
app/_js-d3/12_JS/Homework/Solutions/D3_Solution/js/data.js
app/_js-d3/12_JS/Homework/Solutions/D3_Solution/stylesheets/styles.css
app/_js-d3/12_JS/Homework/Solutions/JS_Solution/index.html
app/_js-d3/12_JS/Homework/Solutions/JS_Solution/run_live_server.sh
app/_js-d3/12_JS/Homework/Solutions/JS_Solution/.vscode/settings.json
app/_js-d3/12_JS/Homework/Solutions/JS_Solution/data/UFOSightings.csv
app/_js-d3/12_JS/Homework/Solutions/JS_Solution/images/nasa.jpg
app/_js-d3/12_JS/Homework/Solutions/JS_Solution/images/ufo.svg
app/_js-d3/12_JS/Homework/Solutions/JS_Solution/js/app.js
app/_js-d3/12_JS/Homework/Solutions/JS_Solution/js/data.js
app/_js-d3/12_JS/Homework/Solutions/JS_Solution/stylesheets/styles.css
app/_js-d3/12_JS/Resources/README.md
app/_js-d3/14_D3/run_live_server.sh
app/_js-d3/14_D3/.vscode/launch.json
app/_js-d3/14_D3/.vscode/settings.json
app/_js-d3/14_D3/.vscode/tags
app/_js-d3/14_D3/01_Evr_Binding_Data/dem0.js
app/_js-d3/14_D3/01_Evr_Binding_Data/demo.js
app/_js-d3/14_D3/01_Evr_Binding_Data/index.html
app/_js-d3/14_D3/02_Ins_Complex_Data/demo.js
app/_js-d3/14_D3/02_Ins_Complex_Data/index.html
app/_js-d3/14_D3/03_Stu_D3_Table/indexx.html
app/_js-d3/14_D3/03_Stu_D3_Table/README.md
app/_js-d3/14_D3/03_Stu_D3_Table/table.js
app/_js-d3/14_D3/03_Stu_D3_Table/Solved/index.html
app/_js-d3/14_D3/03_Stu_D3_Table/Solved/table.js
app/_js-d3/14_D3/04_Evr_Enter_Exit_Update/dem0.js
app/_js-d3/14_D3/04_Evr_Enter_Exit_Update/demo.js
app/_js-d3/14_D3/04_Evr_Enter_Exit_Update/index.html
app/_js-d3/14_D3/05_Ins_SVG/index.html
app/_js-d3/14_D3/06_Stu_SVG_Stickman/README.md
app/_js-d3/14_D3/06_Stu_SVG_Stickman/Solved/index.html
app/_js-d3/14_D3/06_Stu_SVG_Stickman/Solved/stickman.js
app/_js-d3/14_D3/07_Evr_D3_Bullseye/bullseye.js
app/_js-d3/14_D3/07_Evr_D3_Bullseye/bullseye.jsx
app/_js-d3/14_D3/07_Evr_D3_Bullseye/demo.js
app/_js-d3/14_D3/07_Evr_D3_Bullseye/index.html
app/_js-d3/14_D3/07_Evr_D3_Bullseye/newFile.1.js
app/_js-d3/14_D3/07_Evr_D3_Bullseye/newFile.js
app/_js-d3/14_D3/08_Stu_Data_Rectangles/app.js
app/_js-d3/14_D3/08_Stu_Data_Rectangles/indexx.html
app/_js-d3/14_D3/08_Stu_Data_Rectangles/README.md
app/_js-d3/14_D3/08_Stu_Data_Rectangles/style.css
app/_js-d3/14_D3/08_Stu_Data_Rectangles/Solved/app.js
app/_js-d3/14_D3/08_Stu_Data_Rectangles/Solved/bar_refactored.js
app/_js-d3/14_D3/08_Stu_Data_Rectangles/Solved/index.html
app/_js-d3/14_D3/08_Stu_Data_Rectangles/Solved/style.css
app/_js-d3/14_D3/09_Stu_UpsideDownBarChart/app.js
app/_js-d3/14_D3/09_Stu_UpsideDownBarChart/indexx.html
app/_js-d3/14_D3/09_Stu_UpsideDownBarChart/README.md
app/_js-d3/14_D3/09_Stu_UpsideDownBarChart/Solved/app.js
app/_js-d3/14_D3/09_Stu_UpsideDownBarChart/Solved/bar_horizontal copy.js
app/_js-d3/14_D3/09_Stu_UpsideDownBarChart/Solved/bar_horizontal.js
app/_js-d3/14_D3/09_Stu_UpsideDownBarChart/Solved/bar_vertical.js
app/_js-d3/14_D3/09_Stu_UpsideDownBarChart/Solved/index.html
app/_js-d3/14_D3/10_Evr_Bar_Chart_Refactored/app.js
app/_js-d3/14_D3/10_Evr_Bar_Chart_Refactored/index.html
app/_js-d3/14_D3/10_Evr_Bar_Chart_Refactored/style.css
app/_js-d3/14_D3/11_Teach_Evr_Bar_Chart_Refactored/app.js
app/_js-d3/14_D3/11_Teach_Evr_Bar_Chart_Refactored/index.html
app/_js-d3/14_D3/11_Teach_Evr_Bar_Chart_Refactored/style.css
app/_js-d3/14_D3/12_Stu_Data_Rectangles/app.js
app/_js-d3/14_D3/12_Stu_Data_Rectangles/index.html
app/_js-d3/14_D3/12_Stu_Data_Rectangles/style.css
app/_js-d3/14_D3/13_Stu_UpsideDownBarChart/app.js
app/_js-d3/14_D3/13_Stu_UpsideDownBarChart/index.html
app/_js-d3/14_D3/14_Ins_Loading_Data/.gitkeep
app/_js-d3/14_D3/14_Ins_Loading_Data/Solved/app.js
app/_js-d3/14_D3/14_Ins_Loading_Data/Solved/hours-of-tv-watched.csv
app/_js-d3/14_D3/14_Ins_Loading_Data/Solved/indexx.html
app/_js-d3/14_D3/14_Ins_Loading_Data/Solved/style.css
app/_js-d3/14_D3/15_Par_BarChart_From_CSV/app.js
app/_js-d3/14_D3/15_Par_BarChart_From_CSV/hours-of-tv-watched.csv
app/_js-d3/14_D3/15_Par_BarChart_From_CSV/indexx.html
app/_js-d3/14_D3/15_Par_BarChart_From_CSV/README.md
app/_js-d3/14_D3/15_Par_BarChart_From_CSV/style.css
app/_js-d3/14_D3/15_Par_BarChart_From_CSV/Solved/app.js
app/_js-d3/14_D3/15_Par_BarChart_From_CSV/Solved/bar_from_csv - Copy.js
app/_js-d3/14_D3/15_Par_BarChart_From_CSV/Solved/bar_from_csv.js
app/_js-d3/14_D3/15_Par_BarChart_From_CSV/Solved/hours-of-tv-watch3d.csv
app/_js-d3/14_D3/15_Par_BarChart_From_CSV/Solved/hours-of-tv-watched.csv
app/_js-d3/14_D3/15_Par_BarChart_From_CSV/Solved/index.html
app/_js-d3/14_D3/15_Par_BarChart_From_CSV/Solved/style.css
app/_js-d3/14_D3/16_Evr_Scales/d3_scales.html
app/_js-d3/14_D3/16_Evr_Scales/Solved/app.js
app/_js-d3/14_D3/16_Evr_Scales/Solved/d3_scales.html
app/_js-d3/14_D3/16_Evr_Scales/Solved/index.html
app/_js-d3/14_D3/17_Ins_Intro_To_Axes/app.js
app/_js-d3/14_D3/17_Ins_Intro_To_Axes/indexx.html
app/_js-d3/14_D3/17_Ins_Intro_To_Axes/style.css
app/_js-d3/14_D3/17_Ins_Intro_To_Axes/Solved/app.js
app/_js-d3/14_D3/17_Ins_Intro_To_Axes/Solved/index.html
app/_js-d3/14_D3/17_Ins_Intro_To_Axes/Solved/style.css
app/_js-d3/14_D3/18_Stu_Complete_Bar_Chart/app.js
app/_js-d3/14_D3/18_Stu_Complete_Bar_Chart/hours-of-tv-watched.csv
app/_js-d3/14_D3/18_Stu_Complete_Bar_Chart/indexx.html
app/_js-d3/14_D3/18_Stu_Complete_Bar_Chart/README.md
app/_js-d3/14_D3/18_Stu_Complete_Bar_Chart/style.css
app/_js-d3/14_D3/18_Stu_Complete_Bar_Chart/Solved/app.js
app/_js-d3/14_D3/18_Stu_Complete_Bar_Chart/Solved/bar_comp_snpt.js
app/_js-d3/14_D3/18_Stu_Complete_Bar_Chart/Solved/hours-of-tv-watched.csv
app/_js-d3/14_D3/18_Stu_Complete_Bar_Chart/Solved/index.html
app/_js-d3/14_D3/18_Stu_Complete_Bar_Chart/Solved/style.css
app/_js-d3/14_D3/19_Ins_Line_Generators_Intro/path.html
app/_js-d3/14_D3/19_Ins_Line_Generators_Intro/Solved/index.html
app/_js-d3/14_D3/19_Ins_Line_Generators_Intro/Solved/line_generator.js
app/_js-d3/14_D3/19_Ins_Line_Generators_Intro/Solved/path.html
app/_js-d3/14_D3/20_Stu_Generating_Lines/app.js
app/_js-d3/14_D3/20_Stu_Generating_Lines/index.html
app/_js-d3/14_D3/20_Stu_Generating_Lines/NCHS_life_expectancy_at_birth.csv
app/_js-d3/14_D3/20_Stu_Generating_Lines/README.md
app/_js-d3/14_D3/21_Extra_Responsive_Chart/app.js
app/_js-d3/14_D3/21_Extra_Responsive_Chart/hours-of-tv-watched.csv
app/_js-d3/14_D3/21_Extra_Responsive_Chart/index.html
app/_js-d3/14_D3/21_Extra_Responsive_Chart/style.css
app/_js-d3/14_D3/22_Extra_Making_Axes/app.js
app/_js-d3/14_D3/22_Extra_Making_Axes/indexx.html
app/_js-d3/14_D3/22_Extra_Making_Axes/README.md
app/_js-d3/14_D3/22_Extra_Making_Axes/Solved/app.js
app/_js-d3/14_D3/22_Extra_Making_Axes/Solved/index.html
app/_js-d3/14_D3/22_Extra_Making_Axes/Solved/style.css
app/_js-d3/14_D3/23_Extra_Time_Scales/d3scaleband.html
app/_js-d3/14_D3/23_Extra_Time_Scales/d3scalelinear.html
app/_js-d3/14_D3/23_Extra_Time_Scales/d3scaletime1.html
app/_js-d3/14_D3/23_Extra_Time_Scales/d3scaletime2.html
app/_js-d3/14_D3/23_Extra_Time_Scales/index.html
app/_js-d3/14_D3/24_Ins_LineChart/app.js
app/_js-d3/14_D3/24_Ins_LineChart/forcepoints.csv
app/_js-d3/14_D3/24_Ins_LineChart/index.html
app/_js-d3/14_D3/24_Ins_LineChart/style.css
app/_js-d3/14_D3/25_Evr_Multiline/app copy.js
app/_js-d3/14_D3/25_Evr_Multiline/app.js
app/_js-d3/14_D3/25_Evr_Multiline/index.html
app/_js-d3/14_D3/25_Evr_Multiline/mojoData.csv
app/_js-d3/14_D3/25_Evr_Multiline/style.css
app/_js-d3/14_D3/26_Evr_Multiple_Axes/app.js
app/_js-d3/14_D3/26_Evr_Multiple_Axes/index.html
app/_js-d3/14_D3/26_Evr_Multiple_Axes/mojoData.csv
app/_js-d3/14_D3/26_Evr_Multiple_Axes/style.css
app/_js-d3/14_D3/27_Evr_Readability/app.js
app/_js-d3/14_D3/27_Evr_Readability/index.html
app/_js-d3/14_D3/27_Evr_Readability/mojoData.csv
app/_js-d3/14_D3/27_Evr_Readability/style.css
app/_js-d3/14_D3/28_Stu_Multi_Lines_Axes/data.csv
app/_js-d3/14_D3/28_Stu_Multi_Lines_Axes/indexx.html
app/_js-d3/14_D3/28_Stu_Multi_Lines_Axes/README.md
app/_js-d3/14_D3/28_Stu_Multi_Lines_Axes/style.css
app/_js-d3/14_D3/28_Stu_Multi_Lines_Axes/Solved/app.js
app/_js-d3/14_D3/28_Stu_Multi_Lines_Axes/Solved/index.html
app/_js-d3/14_D3/28_Stu_Multi_Lines_Axes/Solved/mojoData.csv
app/_js-d3/14_D3/28_Stu_Multi_Lines_Axes/Solved/style.css
app/_js-d3/14_D3/29_Evr_Event_Listeners/app.js
app/_js-d3/14_D3/29_Evr_Event_Listeners/index.html
app/_js-d3/14_D3/30_Ins_Tooltips/app.js
app/_js-d3/14_D3/30_Ins_Tooltips/index.html
app/_js-d3/14_D3/30_Ins_Tooltips/scatter_transition.js
app/_js-d3/14_D3/30_Ins_Tooltips/style.css
app/_js-d3/14_D3/31_Stu_Add_Tooltips/app.js
app/_js-d3/14_D3/31_Stu_Add_Tooltips/indexx.html
app/_js-d3/14_D3/31_Stu_Add_Tooltips/norway_medals.csv
app/_js-d3/14_D3/31_Stu_Add_Tooltips/README.md
app/_js-d3/14_D3/31_Stu_Add_Tooltips/style.css
app/_js-d3/14_D3/31_Stu_Add_Tooltips/Solved/app.js
app/_js-d3/14_D3/31_Stu_Add_Tooltips/Solved/index.html
app/_js-d3/14_D3/31_Stu_Add_Tooltips/Solved/norway_medals.csv
app/_js-d3/14_D3/31_Stu_Add_Tooltips/Solved/style.css
app/_js-d3/14_D3/32_Ins_D3_Tip/app.js
app/_js-d3/14_D3/32_Ins_D3_Tip/index.html
app/_js-d3/14_D3/32_Ins_D3_Tip/norway_medals.csv
app/_js-d3/14_D3/32_Ins_D3_Tip/style.css
app/_js-d3/14_D3/33_Stu_Hair_Metal/app.js
app/_js-d3/14_D3/33_Stu_Hair_Metal/hairData.csv
app/_js-d3/14_D3/33_Stu_Hair_Metal/indexx.html
app/_js-d3/14_D3/33_Stu_Hair_Metal/README.md
app/_js-d3/14_D3/33_Stu_Hair_Metal/style.css
app/_js-d3/14_D3/33_Stu_Hair_Metal/Images/hairbands.png
app/_js-d3/14_D3/33_Stu_Hair_Metal/Solved/app.js
app/_js-d3/14_D3/33_Stu_Hair_Metal/Solved/hairData.csv
app/_js-d3/14_D3/33_Stu_Hair_Metal/Solved/index.html
app/_js-d3/14_D3/33_Stu_Hair_Metal/Solved/style.css
app/_js-d3/14_D3/34_Ins_Transitions/app.js
app/_js-d3/14_D3/34_Ins_Transitions/bar_transition_hover.js
app/_js-d3/14_D3/34_Ins_Transitions/indexx.html
app/_js-d3/14_D3/34_Ins_Transitions/style.css
app/_js-d3/14_D3/35_Stu_Transitions/app.js
app/_js-d3/14_D3/35_Stu_Transitions/indexx.html
app/_js-d3/14_D3/35_Stu_Transitions/README.md
app/_js-d3/14_D3/35_Stu_Transitions/Images/transitions1.gif
app/_js-d3/14_D3/35_Stu_Transitions/Images/transitions2.gif
app/_js-d3/14_D3/35_Stu_Transitions/Solved/app.js
app/_js-d3/14_D3/35_Stu_Transitions/Solved/curran_multi_line.js
app/_js-d3/14_D3/35_Stu_Transitions/Solved/d3ThinkWithJoins.js
app/_js-d3/14_D3/35_Stu_Transitions/Solved/index.html
app/_js-d3/14_D3/35_Stu_Transitions/Solved/transitions_splash - Copy.js
app/_js-d3/14_D3/35_Stu_Transitions/Solved/transitions_splash.js
app/_js-d3/14_D3/36_Par_Hair_Metal_Conclusion/app.js
app/_js-d3/14_D3/36_Par_Hair_Metal_Conclusion/hairData.csv
app/_js-d3/14_D3/36_Par_Hair_Metal_Conclusion/indexx.html
app/_js-d3/14_D3/36_Par_Hair_Metal_Conclusion/maxresdefault.jpg
app/_js-d3/14_D3/36_Par_Hair_Metal_Conclusion/README.md
app/_js-d3/14_D3/36_Par_Hair_Metal_Conclusion/style.css
app/_js-d3/14_D3/36_Par_Hair_Metal_Conclusion/Solved/app.js
app/_js-d3/14_D3/36_Par_Hair_Metal_Conclusion/Solved/hairData.csv
app/_js-d3/14_D3/36_Par_Hair_Metal_Conclusion/Solved/index.html
app/_js-d3/14_D3/36_Par_Hair_Metal_Conclusion/Solved/maxresdefault.jpg
app/_js-d3/14_D3/36_Par_Hair_Metal_Conclusion/Solved/style.css
app/_js-d3/14_D3/Automatic_table/README.md
app/_js-d3/14_D3/Automatic_table/StarterCode/index.html
app/_js-d3/14_D3/Automatic_table/StarterCode/static/css/style.css
app/_js-d3/14_D3/Automatic_table/StarterCode/static/images/nasa.jpg
app/_js-d3/14_D3/Automatic_table/StarterCode/static/images/ufo.svg
app/_js-d3/14_D3/Automatic_table/StarterCode/static/js/app - Copy.js
app/_js-d3/14_D3/Automatic_table/StarterCode/static/js/app.js
app/_js-d3/14_D3/Automatic_table/StarterCode/static/js/data.js
app/_js-d3/14_D3/d3-tip-master/app.js
app/_js-d3/14_D3/d3-tip-master/d3.html
app/_js-d3/14_D3/d3-tip-master/hairData.csv
app/_js-d3/14_D3/d3-tip-master/index.html
app/_js-d3/14_D3/d3-tip-master/indexToolTipExtra.html
app/_js-d3/14_D3/d3-tip-master/readme.md
app/_js-d3/14_D3/d3-tip-master/style.css
app/_js-d3/14_D3/d3-tip-master/.vscode/tags
app/_js-d3/14_D3/d3-tip-master/15-BarChartCurran/bundle.js
app/_js-d3/14_D3/d3-tip-master/15-BarChartCurran/data.csv
app/_js-d3/14_D3/d3-tip-master/15-BarChartCurran/dataMilitary.csv
app/_js-d3/14_D3/d3-tip-master/15-BarChartCurran/index.html
app/_js-d3/14_D3/d3-tip-master/15-BarChartCurran/index.js
app/_js-d3/14_D3/d3-tip-master/15-BarChartCurran/README.md
app/_js-d3/14_D3/d3-tip-master/15-BarChartCurran/styles.css
app/_js-d3/14_D3/d3-tip-master/assets/css/d3Style.css
app/_js-d3/14_D3/d3-tip-master/assets/css/style.css
app/_js-d3/14_D3/d3-tip-master/assets/data/data.csv
app/_js-d3/14_D3/d3-tip-master/assets/img/01_AnimatedScatter.gif
app/_js-d3/14_D3/d3-tip-master/assets/img/02_ToolTip.gif
app/_js-d3/14_D3/d3-tip-master/assets/img/03_ResponsiveD3.gif
app/_js-d3/14_D3/d3-tip-master/assets/js/app.js
app/_js-d3/14_D3/Homework/d3.html
app/_js-d3/14_D3/Homework/index.html
app/_js-d3/14_D3/Homework/Readme.md
app/_js-d3/14_D3/Homework/assets/css/d3Style.css
app/_js-d3/14_D3/Homework/assets/css/style.css
app/_js-d3/14_D3/Homework/assets/js/app.js
app/_js-d3/14_D3/Homework/Images/2-census.jpg
app/_js-d3/14_D3/Homework/Images/3-brfss.jpg
app/_js-d3/14_D3/Homework/Images/4-scatter.jpg
app/_js-d3/14_D3/Homework/Images/5-correl.jpg
app/_js-d3/14_D3/Homework/Images/6-excel.jpg
app/_js-d3/14_D3/Homework/Images/7-animated-scatter.gif
app/_js-d3/14_D3/Homework/Images/8-tooltip.gif
app/_js-d3/14_D3/Homework/Images/9-responsive-d3.gif
app/_js-d3/14_D3/Resources/1_D3Ninjas.pptx
app/_js-d3/14_D3/Resources/2_D3-Day2.pptx
app/_js-d3/14_D3/Resources/LessonPlan01.md
app/_js-d3/14_D3/Resources/LessonPlan02.md
app/_js-d3/14_D3/Resources/LessonPlan03.md
app/_js-d3/14_D3/Resources/README.md
app/_js-d3/14_D3/Resources/.vscode/tags
