.opac-90 {
	opacity: 0.9;
}
.opac-80 {
	opacity: 0.8;
}
.opac-70 {
	opacity: 0.7;
}
.opac-50 {
	opacity: 0.5;
}
.opac-30 {
	opacity: 0.3;
}
/* border-color: #343a40;
border-width: 4px; */
.bordered {
  box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
  border-radius: 20px;  
}
.border-med {
	border-width: medium;
}
.bar-top {
	fill: #B58900;
}
.axis-text {
	fill: #B58900;
	font-family: sans-serif;
	font-weight: bold;
	text-anchor: middle;
}
.active {
	fill: #2aa198;
	font-weight: bold;
	text-anchor: middle;
	transition: fill 0.3s ease-out;
}
.inactive {
	fill: #551aaf;
	font-weight: lighter;
	text-anchor: middle;
	transition: fill 0.3s ease-out;
}
.inactive:hover {
	cursor: pointer;
	fill: #e75480;
}
.anime-danger {
	transition: ease 0.15s;
  box-shadow: 0 2rem 1rem rgba(219, 72, 72, 0.924);
}
.anime-danger:hover {
  transform: scale(1.1, 1.1);
  box-shadow: rgba(255, 0, 0, 0.311) 5px 15px 15px;
}
.anime-primary {
	transition: ease 0.1s;
  box-shadow: 0 1rem 2rem rgba(0, 47, 255, 0.733);
}
.anime-primary:hover {
  transform: scale(1.1, 1.1);
  box-shadow: rgba(28, 155, 230, 0.711) 5px 15px 15px;
}
.add-anime {
	transition: ease 0.1s;
  box-shadow: 0 1rem 2rem rgba(50, 238, 255, 0.257);
}
.add-anime:hover {
  transform: scale(1.1, 1.1);
  box-shadow: rgb(111, 230, 141) 5px 15px 15px;
}
.add-anime:hover:first-child {
	box-shadow: rgb(166, 57, 255)5px 15px 15px;
}
.add-anime:hover:nth-last-child(4) {
	box-shadow: rgb(230, 111, 137) 5px 15px 15px;
}
.add-anime:hover:nth-last-child(3) {
	box-shadow: rgb(111, 230, 141) 5px 15px 15px;
}
.add-anime:hover:nth-last-child(2) {
	box-shadow: rgb(219, 223, 0) 5px 15px 15px;
}
.add-anime:hover:nth-last-child(1) {
	box-shadow: rgb(228, 151, 8) 5px 15px 15px;
}
.add-anime:hover:last-child {
	box-shadow: rgb(111, 230, 161) 5px 15px 15px;
}
.text-italic {
	font-style: italic;
}
.text-onerem {
	font-size: 1rem;
}
.text-larger {
	font-size: 1.25rem;
}
.text-xlarger {
	font-size: 1.50rem;
}
.text-2xl {
	font-size: 2rem;
}
.text-sm {
	font-size: 0.80rem;
}
.text-xs {
	font-size: 0.70rem;
}
.text-2xs {
	font-size: 0.60rem;
}
.text-3xs {
	font-size: 0.50rem;
}
.text-comfo {
	font-family: 'Comfortaa', sans-serif;
}
.text-digi {
	font-family: 'Orbitron', sans-serif;
}
.text-cond {
	font-family: 'Roboto Condensed', sans-serif;
}
.text-robo {
	font-family: 'Roboto', sans-serif;
}
.text-balo {
	font-family: 'Baloo 2', sans-serif;
}
.text-body text {
	color: #002B36;
}
.tooltip {
	background: #073642;
	border: 0, border-color: #2AA198;
	border-radius: 14px;
	border-width: thin;
	box-shadow: 0 0.5rem 1rem rgba(2, 211, 243, 0.717) !important;
	color: #2AA198;
	font: 14px sans-serif;
	height: 60px;
	padding: 1px;
	padding-top: 2px;
	position: absolute;
	text-align: center;
	width: 100px;
}
.axisGold line {
	stroke: none;
}
.axisGold path {
	stroke: none;
}
.axisGold text {
	fill: #B58900;
	font-family: 'Orienta';
	font-size: 0.75rem;
}
.names text {
	font-size: 1.25rem;
}
.axisTurq line {
	stroke: #002B36;
}
.axisTurq path {
	stroke: #002B36;
}
.axisTurq text {
	fill: #2aa198;
	font-family: 'Orienta', sans-serif;
}
.bg-black {
	background-color: black;
}
.bg-slategray {
	background-color: #0f3b46d5;
}
.container {
	x-width: 960px;
}
.sidebar-h5 {
	font-family: initial;
}
.sidebar-section {
	border: 1px solid;
	border-color: #2aa198;
	border-radius: 8px;
}
/* ----- default for boilerplate from corey's----- */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Comfortaa', sans-serif;
	font-style: bold;
	margin: 2px;
}
.bg-steel {
	background-color: #5f788a;
}
.content-section {
	border: 2px solid;
	border-radius: 12px;
	margin-bottom: 20px;
	margin-top: 10px;
	padding: 10px 20px;
}
.rounded-third {
	border-radius: 40% / 50%;
}
.rounded-half {
	border-radius: 50% / 50%;
}
.rounded-med {
	border-radius: 8px;
}
.rounded-large {
	border-radius: 10px;
}
.rounded-xl {
	border-radius: 8px;
}
.rounded-2xl {
	border-radius: 12px;
}
.rounded-3xl {
	border-radius: 16px;
}
.rotateimg180 {
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.shadow-gr1d {
	-webkit-box-shadow: 0 0.5rem 1rem rgba(88, 217, 231, 0.233) !important;
	box-shadow: 0 0.5rem 1rem rgba(67, 251, 248, 0.233) !important;
}
.hero-image {
	background-blend-mode: screen;
	background-color: #002B36;
	background-image: url("https://images8.alphacoders.com/373/thumb-1920-373691.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	vertical-align: top;
	width: 100%;
}
.border-body {
	border-color: #8ab4d1;
}
.bg-body {
	background-color: #8ab4d1;
}
.btn.btn-square:hover {
	box-shadow: rgb(188, 143, 250) 0px 15px 15px;
	transform: scale(1.1, 1.1);
}
.card.infoboard-section {
	font-family: Fcard;
	transition: ease 0.5s;
}
.card.infoboard-section:hover {
	box-shadow: rgb(188, 143, 250) 0px 15px 15px;
	transform: scale(1.1, 1.1);
}
.card.infoboard-section:hover:first-child {
	box-shadow: rgb(65, 237, 243) -5px 15px 15px;
}
.card.infoboard-section:hover:last-child {
	box-shadow: rgb(80, 224, 167) 5px 15px 15px;
}
.btn-grid {
	border-radius: 1.25rem;
	border-width: 1px;
}
.btn-square {
	border-radius: 0.75rem;
}
.dash-section {
	padding: 12px;
}
.shadow-turqoise {
	-webkit-box-shadow: 0 0.5rem 1rem rgba(147, 190, 189, 0.233) !important;
	box-shadow: 0 0.5rem 1rem rgba(147, 190, 189, 0.233) !important;
}
.shadow-gold {
	-webkit-box-shadow: 0 0.5rem 1rem rgba(190, 170, 147, 0.271) !important;
	box-shadow: 0 0.5rem 1rem rgba(190, 170, 147, 0.271) !important;
}
.text-outlined{
  font-family: 'Montserrat Alternates', sans-serif;
  opacity: 70%;
  text-shadow: -1px 0   white,
                0 1px white,
                1px 0 white,
                0 -1px white;

}
.shadow-before {
	-webkit-box-shadow: 0 1rem 2rem rgba(0, 255, 234, 0.315) !important;
  box-shadow: 0 1rem 2rem rgba(0, 255, 255, 0.329) !important;
}
tbody tr td:first-child{border-radius: 0.75rem 0 0 0.75rem;}
tbody td:nth-child(2){border-radius: 0 0 0 0;}
tbody td:nth-child(3){border-radius: 0 0 0 0;}
tbody td:nth-child(4){border-radius: 0 0 0 0;}
tbody td:nth-child(5){border-radius: 0 0 0 0;}
tbody td:nth-child(6){border-radius: 0 0 0 0;}
tbody td:last-child{border-radius: 0 0.75rem 0.75rem 0;}
.shadow-after {
	-webkit-box-shadow: 0 1rem 2rem rgba(190, 47, 195, 0.271) !important;
	box-shadow: 0 1rem 2rem rgba(190, 47, 195, 0.271) !important;
}
.info-section {
	border-radius: 4px;
	margin-bottom: 8px;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
}
.infoboard-section {
	border: 1px solid;
	border-radius: 12px;
}
/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
	height: 90%;
}
.info {
	border-radius: 8px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	padding: 4px 6px;
	text-align: center;
}
html {
	font-size: 10px;
}
@media (min-width: 768px) {
	html {
		font-size: 14px;
	}
}
#fuzz
{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #333;
    box-shadow: 0px 0px 5px #333, inset 0px 0px 2px #333;
  }
  
  .bg-red {
    color : white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0cfd0), color-stop(60%, #e2484d), to(#C71C22));
    background-image: linear-gradient(#e23538, #c90e14 60%, #8f070c);
    background-repeat: no-repeat;
    border: 0;
    border: 1px solid #C71C22;
    box-shadow: 0px 0px 5px #C71C22, inset 0px 0px 2px #C71C22;
}
.text-red{
  color:#c71c22;
}

mw-500 {
height: 6rempx !important;
max-height: 10rempx !important;
}

.anime-blue {
	transition: ease 0.15s;
}
.anime-blue:hover {
  transform: scale(1.1, 1.1);
  box-shadow: rgba(28, 155, 230, 0.711) 5px 15px 15px;
}
 .anime-red {
	transition: ease 0.15s;
}
 .anime-red:hover {
  transform: scale(1.1, 1.1);
  box-shadow: rgba(240, 2, 2, 0.568) 5px 15px 15px;
}
.card-img-top {
height: 128px !important;
max-height: 256px !important;
}
