
.navbar {
  height: 45px !important;
  max-height: 55px !important;
}

.toolt1p {
  opacity: 0.5;
  border-radius:
   2rem;
  padding: 4px 8px 4px 8px;
  max-width: 25rem !important;
  height: 6rem !important;
  max-height: 10rem !important;
}


.opac-100 {
  opacity: 1;
}

.opac-90 {
  opacity: 0.9;
}

.opac-80 {
  opacity: 0.8;
}

.opac-70 {
  opacity: 0.7;
}

.opac-60 {
  opacity: 0.6;
}

.opac-50 {
  opacity: 0.5;
}

.opac-40 {
  opacity: 0.4;
}
.opac-30 {
  opacity: 0.3;
}
.opac-20 {
  opacity: 0.2;
}
.opac-10 {
  opacity: 0.1;
}

/* border-color: #343a40;
border-width: 4px; */
.bordered {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px, inset rgba(0, 0, 0, 0.2) 0px -1px 2px;
  border-radius: 20px;
}

.border-med {
  border-width: medium;
}

.bar-top {
  fill: #B58900;
}

.axis-text {
  fill: #B58900;
  font-family: sans-serif;
  font-weight: bold;
  text-anchor: middle;
}

.anime-danger {
  transition: ease 0.1s;
}

.anime-danger:hover {
  transform: scale(1.1, 1.1);
  box-shadow: rgba(255, 0, 0, 0.311) 5px 15px 15px;
}

.anime-primary {
  transition: ease 0.1s;
}

.anime-primary:hover {
  transform: scale(1.1, 1.1);
  box-shadow: rgba(28, 155, 230, 0.711) 5px 15px 15px;
}

.add-anime {
  transition: ease 0.15s;
}

.add-anime:hover {
  transform: scale(1.1, 1.1);
  box-shadow: rgb(111, 230, 141) 5px 15px 15px;
}

.add-anime:hover:first-child {
  box-shadow: rgb(166, 57, 255)5px 15px 15px;
}

.add-anime:hover:nth-last-child(4) {
  box-shadow: rgb(230, 111, 137) 5px 15px 15px;
}

.add-anime:hover:nth-last-child(3) {
  box-shadow: rgb(111, 230, 141) 5px 15px 15px;
}

.add-anime:hover:nth-last-child(2) {
  box-shadow: rgb(219, 223, 0) 5px 15px 15px;
}

.add-anime:hover:nth-last-child(1) {
  box-shadow: rgb(228, 151, 8) 5px 15px 15px;
}

.add-anime:hover:last-child {
  box-shadow: rgb(111, 230, 161) 5px 15px 15px;
}

.text-italic {
  font-style: italic;
}

.text-onerem {
  font-size: 1rem;
}

.text-larger {
  font-size: 1.25rem;
}

.text-xlarger {
  font-size: 1.50rem;
}

.text-md {
  font-size: 1rem;
}

.text-upmd {
  font-size: 1.125rem;
}

.text-lg {
  font-size: 1.25rem;
}

.text-xl {
  font-size: 1.50rem;
}

.text-2xl {
  font-size: 1.75rem;
}

.text-3xl {
  font-size: 2.00rem;
}

.text-huge {
  font-size: 3.5rem;
}
.text-sm {
  font-size: 0.80rem;
}

.text-xs {
  font-size: 0.70rem;
}

.text-2xs {
  font-size: 0.60rem;
}

.text-3xs {
  font-size: 0.50rem;
}

.text-comfo {
  font-family: 'Comfortaa', sans-serif;
}

.text-digi {
  font-family: 'Orbitron', sans-serif;
}

.text-cond {
  font-family: 'Roboto Condensed', sans-serif;
}

.text-robo {
  font-family: 'Roboto', sans-serif;
}

.text-balo {
  font-family: 'Baloo 2', sans-serif;
}

.text-body text {
  color: #002B36;
}

.axisGold line {
  stroke: none;
}

.axisGold path {
  stroke: none;
}

.axisGold text {
  fill: #B58900;
  font-family: 'Orienta';
  font-size: 0.75rem;
}

.names text {
  font-size: 1.25rem;
}

.axisTurq line {
  stroke: #002B36;
}

.axisTurq path {
  stroke: #002B36;
}

.axisTurq text {
  fill: #2aa198;
  font-family: 'Orienta', sans-serif;
}

.bg-black {
  background-color: black;
}

.bg-slategray {
  background-color: #0f3b46d5;
}


.sidebar-h5 {
  font-family: initial;
}

.sidebar-section {
  border: 1px solid;
  border-color: #2aa198;
  border-radius: 8px;
}

/* ----- default for boilerplate from corey's----- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', sans-serif;
  font-style: bold;
  margin: 2px;
}

.bg-steel {
  background-color: #5f788a;
}

.content-section {
  border: 2px solid;
  border-radius: 12px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px 20px;
}

.rnd-arc {
  border-radius: 49% 49% 7% 7% ;
}

.rnd-qtr {
  border-radius: 7% / 13%;
}

.rnd-half {
  border-radius: 50% / 50%;
}

.rnd-md {
  border-radius: 4px;
}
.rnd-lg {
  border-radius: 6px;
}

.rnd-xl {
  border-radius: 8px;
}

.rnd-2xl {
  border-radius: 12px;
}

.rnd-3xl {
  border-radius: 16px;
}

.rotateimg180 {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.shadow-gr1d {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(88, 217, 231, 0.233) !important;
  box-shadow: 0 0.5rem 1rem rgba(67, 251, 248, 0.233) !important;
}

.hero-image {
  background-image: url("https://images8.alphacoders.com/373/thumb-1920-373691.jpg");
  background-color: #002B36;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  vertical-align: top;
  width: 100%;
}


.btn.btn-square:hover {
  box-shadow: rgb(188, 143, 250) 0px 15px 15px;
  transform: scale(1.1, 1.1);
}

.card.infoboard-section {
  font-family: Fcard;
  transition: ease 0.5s;
}

.card.infoboard-section:hover {
  box-shadow: rgb(188, 143, 250) 0px 15px 15px;
  transform: scale(1.1, 1.1);
}

.card.infoboard-section:hover:first-child {
  box-shadow: rgb(65, 237, 243) -5px 15px 15px;
}

.card.infoboard-section:hover:last-child {
  box-shadow: rgb(80, 224, 167) 5px 15px 15px;
}

.btn-grid {
  border-radius: 1.25rem;
  border-width: 1px;
}

.btn-square {
  border-radius: 0.75rem;
}

.dash-section {
  padding: 12px;
}

.shadow-turqoise {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(147, 190, 189, 0.233) !important;
  box-shadow: 0 0.5rem 1rem rgba(147, 190, 189, 0.233) !important;
}

.shadow-gold {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(190, 170, 147, 0.271) !important;
  box-shadow: 0 0.5rem 1rem rgba(190, 170, 147, 0.271) !important;
}

.text-outlined {
  font-family: 'Montserrat Alternates', sans-serif;
  opacity: 70%;
  text-shadow: -1px 0 white,
    0 1px white,
    1px 0 white,
    0 -1px white;

}

.shadow-before {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 255, 234, 0.315) !important;
  box-shadow: 0 1rem 2rem rgba(0, 255, 255, 0.329) !important;
}

.shadow-after {
  -webkit-box-shadow: 0 1rem 2rem rgba(190, 47, 195, 0.271) !important;
  box-shadow: 0 1rem 2rem rgba(190, 47, 195, 0.271) !important;
}

.info-section {
  border-radius: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
}

.infoboard-section {
  border: 1px solid;
  border-radius: 12px;
}

.info {
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 4px 6px;
  text-align: center;
}

.bg-red {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0cfd0), color-stop(60%, #e2484d), to(#C71C22));
  background-image: linear-gradient(#e23538, #e70505 60%, #77060a);
  background-repeat: no-repeat;
  border: 0;
  border: 1px solid #C71C22;
  box-shadow: 0px 0px 5px #C71C22, inset 0px 0px 2px #C71C22;
}

.text-red {
  color: #c71c22;
}

.anime-blue {
  transition: ease 0.15s;
}

.anime-blue:hover {
  transform: scale(1.1, 1.1);
  box-shadow: rgba(28, 155, 230, 0.711) 5px 15px 15px;
}

.anime-red {
  transition: ease 0.15s;
}

.anime-red:hover {
  transform: scale(1.1, 1.1);
  box-shadow: rgba(240, 2, 2, 0.568) 5px 15px 15px;
}

.card-img-top {
  height: 128px !important;
  max-height: 256px !important;
}

.custom-range::-moz-range-thumb {
  width: 1rem;
  height: 2rem;
  color: white;
  border-radius: 1rem 1rem 0.5rem 0.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d564df), color-stop(60%, #6c14fb), to(#380885));

  background-image: linear-gradient(#f277f6, #6a2470 60%, #531e55);
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -moz-appearance: none;
  appearance: none;
}


.bg-metal {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3A3F44), to(#313539));
  background-image: linear-gradient(#484e55, #3A3F44 60%, #313539);
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
}

.bg-purple {

  background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3A3F44), to(#313539));
  background-image: linear-gradient(#a438fb, #8a04a1 60%, #520061);
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
}
.text-purple {
  color: #c300ff;
}

.bg-green {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3A3F44), to(#313539));
  background-image: linear-gradient(#36b340, #36b340 60%, #234e09);
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
  border: 1px solid #36b340;
  box-shadow: 0px 0px 5px #36b340, inset 0px 0px 2px #36b340;
}
 
.bg-brick {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3A3F44), to(#313539));
  background-image: linear-gradient(#f1e2e2, #f17e7e 60%, #b84242);
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
  border: 0px solid #333;
  box-shadow: 0px 0px 5px #b84242, inset 0px 0px 2px #b84242;
}

.bg-orange {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3A3F44), to(#313539));
  background-image: linear-gradient(#fd8d3c, #fd8d3c 60%, #e31a1c);
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
  border: 1px solid #fd8d3c;
  box-shadow: 0px 0px 5px #fd8d3c, inset 0px 0px 2px #fd8d3c;
}


.border-body {
  border: 1px solid #8ab4d1;
}

.border-body text {
  color: #8ab4d1;
}


.bg-coral {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3A3F44), to(#313539));
  background-image: linear-gradient(#f8a4a4, #df5656 60%, #a34141);
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
  border: 0px solid #ff8b8b;
  box-shadow: 0px 0px 15px #ff7676, inset 0px 0px 15px #d65757;
}

.bg-ocean {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3A3F44), to(#313539));
  
  background-image: linear-gradient(#ffffff, #80bbf7 60%, #22445a);
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
  border: 0px solid #6baed6;
  box-shadow: 0px 0px 15px #6baed6, inset 0px 0px 12px #6baed6;
}

.line {
  fill: none;
  stroke-width: 2px;
}



.blue {
  stroke:#01018B;;
}

.red {
  stroke: #8A0101;
}

.solid {
  stroke-dasharray: 0 0;
}

.dashed {
  stroke-dasharray: 3, 3;
}
.vertical-int line {
  stroke: #5d7afa;
  stroke-width: 3px;
  stroke-opacity: 0.2;
}

.vertical-int path {
  stroke-width: 0px;
}

.vertical-int text {
  font-family: 'Baloo 2';
  font-size: 0.85rem;
  font-weight: bold;
  fill: #5d7afa;
  fill: #aaaaff;
  text-shadow: 2px 3px #ff14ff98;
}

.vertical line {
  stroke: #5d7afa;
  stroke-width: 3px;
  stroke-opacity: 0.5;
}

.vertical path {
  stroke-width: 0px;
}

.vertical text {
  font-size: 1rem;
  font-family: 'Comfortaa';
  font-weight: bold;
  fill: #ff0000ab;
  text-shadow: 2px 2px #357cff55;
}

.horizontal line {
  stroke: rgb(10, 55, 153); 
  stroke-width: 2px;
  stroke-opacity: 0.2;
}

.horizontal path {
  stroke-width: 0px;
}

.horizontal-int line {
  stroke: rgb(10, 55, 153);
  stroke-width: 2px;
  stroke-opacity: 0.2;
}

.horizontal-int text {
  font-size: 0.75rem;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  fill: #356ff6;
  text-shadow: 2px 3px #ff002b80;
}

.horizontal text {
  font-size: 1rem;
  font-family: 'Baloo 2';
  font-weight: bold;
  fill: #2657a7;
  text-shadow: 1px 2px #c8daf3;
}

.title {
  font-size: 1.50rem;
  font-family: 'Baloo 2';
  text-anchor: middle;
  fill: #aabdc9;
  text-shadow: 2px 2px #04145a;
}


.tooltip {
  background-image: linear-gradient(#8ab4d1, #4c93dadc 60%, #124281);
  box-shadow: 0px 0px 15px rgb(45, 129, 168), inset 0px 0px 3px #8ab4d1;
  border-radius: 12px;
  color: #d1d8ff;
  position: absolute;
  text-align: center;
  font-size: 1.25rem;

  text-anchor: middle;
  fill: #aabdc9;
  text-shadow: 1px 1px #04145a;
}
.text-bold {
  font-weight: bold;
}
.text-bold text {
  font-weight: bold;
}
.needle {
  stroke: rgb(255, 255, 255);
  stroke-width: 3px;
  stroke-opacity: 0.99;
  stroke-linecap:round;  
}
.scoreBlue {
  font-family: 'Baloo 2';
  font-weight: bold;
  text-anchor: middle;
  fill: #073572;
  text-shadow: 1px 2px #d1d5e9;
}
.scoreRed {
  font-weight: bold;
  font-family: 'Baloo 2';
  text-anchor: middle;
  fill: #9b0e0e;
  text-shadow: 1px 2px #d1d5e9;
}

.partyColor  {
  fill: #ff6a657e;
  fill: #5093ff81;
  fill: #ffbb00;
}

.text-courier  {
  font-weight: bold;
  font-family: 'Courier', sans-serif;
}


.text-pacif {
  font-family: 'Pacifico', cursive;
}
.text-ptmono {
  font-family: 'PT Mono', monospace;
}


.nametag  {
  font-size: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.911);
  color: rgb(246, 103, 103);
  font-family: 'Pacifico', cursive;
  text-shadow: -2px 2px #000000;
}

.gen  {
  font-family: 'Baloo 2';
  font-size: 1rem;
  border: 0 aqua;
  color: rgb(12, 12, 12);
  text-shadow: -1px 1px #d1d5e9;
}

.led-xl  {
  font-size: 2rem;
  margin: 2px 2px 2px 2px;
  padding: 4px 8px 4px 8px;
  border-radius: 7% / 13%;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 109, 14);
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 0px #d1d5e9;
}

.led-horizontal  {
  font-size: 1.50rem;
  margin: 1px 8px 1px 8px;
  padding: 1px 6px 1px 4px;
  border-radius: 7% / 13%;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 109, 14);
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 0px #d1d5e9;
}

.custrange-yearsel  {
  font-size: 1.50rem;
  padding: 1px 6px 1px 4px;
  margin: 1px 6px 4px 4px;
  border-radius: 7% / 13%;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 109, 14);
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 0px #d1d5e9;
}
.custrange-year  {
  font-size: 1.00rem;
  padding: 1px 6px 1px 4px;
  margin: 1px 6px 4px 4px;
  padding: 1px 6px 1px 4px;
  border-radius: 7% / 13%;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 109, 14);
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 0px #d1d5e9;
}

.led-lg  {
  font-size: 1.50rem;
  padding: 1px 6px 1px 4px;
  border-radius: 7% / 13%;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 109, 14);
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 0px #d1d5e9;
}

.led-md  {
  font-size: 1.25rem;
  padding: 1px 4px 1px 4px;
  border-radius: 7% / 13%;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 109, 14);
  font-family: 'Orbitron', sans-serif;
}

.led-sm  {
  font-size: 1rem;
  padding: 1px 6px 1px 4px;
  border-radius: 7% / 13%;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 109, 14);
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 0px #d1d5e9;
}

.neg  {
  font-family: 'Baloo 2';
  font-size: 1rem;
  font-style:bold;
  border: 0 aqua;
  color: #d1d5e9;
}
body {
  font-size: .75rem;
}

/* import metallic btn-second4ry from spacelab */

.btn-second4ry {
  color: #fff;
  background-color: #999;
  border-color: #999;
}

.btn-second4ry:hover {
  color: #fff;
  background-color: #868686;
  border-color: #807f7f;
}

.btn-second4ry:focus, .btn-second4ry.focus {
  color: #fff;
  background-color: #868686;
  border-color: #807f7f;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(168, 168, 168, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(168, 168, 168, 0.5);
}

.btn-second4ry.disabled, .btn-second4ry:disabled {
  color: #fff;
  background-color: #999;
  border-color: #999;
}

.btn-second4ry:not(:disabled):not(.disabled):active, .btn-second4ry:not(:disabled):not(.disabled).active,
.show > .btn-second4ry.dropdown-toggle {
  color: #fff;
  background-color: #807f7f;
  border-color: #797979;
}

.btn-second4ry:not(:disabled):not(.disabled):active:focus, .btn-second4ry:not(:disabled):not(.disabled).active:focus,
.show > .btn-second4ry.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(168, 168, 168, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(168, 168, 168, 0.5);
}
.cands{
  border: 0px solid turquoise;
  box-shadow: 0px 0px 15px #769bff, inset 0px 0px 15px #075eaf;
  border-radius:1.75rem;
}
/* box-shadow: 0 0 20px 20px white inset; */

.cands img{
  height: 9rem !important;
max-height: 9rem !important;  
padding:1rem;
border-radius:2rem;
}
.weather {
  align-items: top;
  text-shadow: 2px 2px 5px rgb(167, 119, 255);
  /* border: 0px solid turquoise;
  box-shadow: 0px 0px 2px #769bff;
  border-radius: 0.25rem; */
}

.weather img{
  background-color: rgba(25, 221, 255, 0.384);
  height: 2rem !important;
  max-height: 3rem !important;  
  border-radius:1rem;
}
.steamy {
  border: 0px solid turquoise;
  box-shadow: 0px 0px 10px #769bff, inset 0px 0px 10px #66b5ff;
  border-radius: 1.25rem;
}

.steamy img{
  background-color: rgba(25, 221, 255, 0.384);
  height: 8rem !important;
  max-height: 10rem !important;  
  border-radius:2rem;
}

.bg-glass {
  margin-bottom: 8px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8ab4d1), color-stop(60%, #4c93dadc), to(#124281));
  background-image: linear-gradient(#124281, #4c93dadc 60%, #8ab4d1);

  background-image: linear-gradient(#8ab3d14f, #4c93da8a 60%, #12428181);
  
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
  border: 0px solid #333;
  box-shadow: 0px 0px 15px rgb(45, 129, 168), inset 0px 0px 3px #8ab4d1;
}
.td-glass {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3A3F44), to(#313539));
  background-image: linear-gradient(#b7c7dd8e, #aeceeeb7 60%, #6da6f0c7);
  background-repeat: no-repeat;
  border: 0px solid #333;
  -webkit-filter: none;
  filter: none;
}


.bg-body {
  /* background-blend-mode: darken; */
  margin-top: 60px;
  background-position: top;
  background-repeat: repeat;
  background-size: auto;
  position: relative;
  vertical-align: top;
  background-image: linear-gradient(#998d99, #c4c4c4 60%, #5d476b);
  /* background-image: url("https://www.limos4less.com/images/bg-1.jpg");
  background-image: url("https://www.jetsetter.com/uploads/sites/7/2018/04/city-cultural-historic-building-960x960.jpeg");
  background-image: url("https://d36tnp772eyphs.cloudfront.net/blogs/1/2017/05/12251784553_018a0b3095_k-1200x720.jpg"); */
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/United_States_Capitol_Building_at_night.jpg/1200px-United_States_Capitol_Building_at_night.jpg");

  background-color: #002B36;
}

.nav-mini{
  height: 35px !important;
  max-height: 40px !important;
}
.bg-body-mini {
  background-blend-mode: darken;
  margin-top: 40px;
  background-position: top;
  background-repeat: repeat;
  background-size: auto;
  position: relative;
  vertical-align: top;
  background-image: linear-gradient(#998d99, #c4c4c4 60%, #5d476b);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/United_States_Capitol_Building_at_night.jpg/1200px-United_States_Capitol_Building_at_night.jpg");
  background-color: #002B36;
}
/* set map, body, and html to 100% of the screen size */
body,
html {
  width: 99.4%;
  height: 99%;
}
tbody tr td:first-child {
  border-radius: 0.75rem 0 0 0.75rem;
}

tbody td:nth-child(2) {
  border-radius: 0 0 0 0;
}

tbody td:nth-child(3) {
  border-radius: 0 0 0 0;
}

tbody td:nth-child(4) {
  border-radius: 0 0 0 0;
}

tbody td:nth-child(5) {
  border-radius: 0 0 0 0;
}

tbody td:nth-child(6) {
  border-radius: 0 0 0 0;
}

tbody td:last-child {
  border-radius: 0 0.75rem 0.75rem 0;
}

.ovrly {
  border-radius: 12px;
  color: #d1d8ff;
  text-align: center;
  font-size: 1;
  width: 100% !important;
  max-width: 12rem !important;
  margin: 4px 4px 4px 4px ;
}
.nav-midi{
  height: 28px !important;
  max-height: 40px !important;
}

.bg-themsie {
  background-color: rgb(41, 37, 65);
}
.shd-themy {
  border: 0px solid turquoise;
  box-shadow: 0px 0px 2px #5d73ee  ,  inset 0px 0px 2px #47a8e0ad;
  border-radius: 0.75rem;
  background-image: linear-gradient(#cc00ff1e, #001aff0e 60%, #0400ff09);
}

.border-themy {
  box-shadow: 0px 0px 2px #5d73ee  ,  inset 0px 0px 3px #47a8e0ad;
  border: 0px solid turquoise;
  border-radius: 0.50rem;
}

.bg-themy {
  border: 0px solid turquoise;
  box-shadow: 0px 0px 4px #5d73ee  ,  inset 0px 0px 3px #47a8e0ad;
  border-radius: 0.75rem;
  background-image: linear-gradient(#ff00ea67, #001aff11 60%, #0400ff5d);
}
.bg-theme {
  background-image: linear-gradient(#ff00ea38, #0c3da89d 60%, #0806a3b4);
  background-repeat: repeat;
  -webkit-filter: none;
  filter: none;
  border: 0px solid turquoise;
  box-shadow: 0px 0px 4px #5d73ee  ,  inset 0px 0px 3px #47a8e0ad;
}

.st-btn {
  border: 0px solid turquoise;
  box-shadow: 0px 0px 8px #00aeff77  ,  inset 0px 0px 7px #1089daad;
  background-image: linear-gradient(#002d8f88, #00000055 60%, #0077ff3d);
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.00rem;
}
.line-xtra {
  stroke:#aaaaff;
  fill: none;
}

.circles-xtra {
  stroke:rgb(0, 0, 0);
  stroke-opacity: 0.5;
  stroke-width: 1px;
  /* fill: #aaaaff; */
}
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    padding: 0 5px;
}
.jackpot line {
  stroke: #5d7afa;
  stroke-width: 3px;
  stroke-opacity: 0.2;
}

.jackpot path {
  stroke: #5d7afa;
  stroke-width: 4px;
  stroke-linecap: nice;
  stroke-opacity: 0.2;
}

.jackpot text {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.50rem;
  font-weight: bold;
  fill: #5d7afa;
  fill: #aaaaff;
  text-shadow: 2px 3px #ff14ff98;
}
  
.dd {
  /* background-color: rgba(246, 242, 248, 0.897); */
  /* border: 0px solid turquoise; */
  /* box-shadow: 0px 0px 4px #5d73ee, inset 0px 0px 4px #47a8e0ad; */
  border-radius: 0.75rem;
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.00rem;
}

.beanotes{
  font-size: 0.50rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-anchor: middle;
  font-style: normal;
}

