<!DOCTYPE html>
<html>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" class="favicon" href="favicon.png" />

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/solar/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="static/styles/main.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
      integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <!-- set title on route by render_template(... ,title='test') -->
    {% if title %}
    <title>COVID-19-DataViz-{{ title }}</title>
    {% else %}
    <title>COVID-19-DataViz</title>
    {% endif %}
  </head>

  <body >
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand text-secondary" href="https://coronavizdata.herokuapp.com/"
        style="font-family: 'Lucida Grande';">
        <small>
          CoronaVizData
        </small>
        <img class="m-0 p-0" src="static/img/site/co_hex.png" style="height: 2.75rem;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <a class="nav-item nav-link rounded-xl add-anime" href="/dashboard">
              <i class="fas fa-tachometer-alt fa-fw text-wrap"></i>
              <p class="mb-0 text-balo text-sm">
                Dashboard
              </p>
            </a>
            <a class="nav-item nav-link rounded-xl add-anime" href="/table">
              <i class="fas fa-table fa-fw"></i>
              <p class="mb-0 text-balo text-sm">Table</p>
            </a>
            <a class="nav-item nav-link rounded-xl add-anime" href="/interactive-axis">
              <i class="fas fa-swatchbook fa-fw"></i>
              <p class="py-0 my-0 text-balo text-sm">Interactive</p>
            </a>
            <a class="nav-item nav-link rounded-xl add-anime" href="/leaflet/bubble">
              <i class="fas fa-globe-americas fa-fw"></i>
              <p class="py-0 my-0 text-balo text-sm">Bubble</p>
            </a>
            <a class="nav-item nav-link rounded-xl add-anime text-nowrap" href="/leaflet/choropleth">
              <i class="fas fa-flag fa-fw"></i>
              <p class="py-0 my-0 text-balo text-sm">US (States)</p>
            </a>
            <a class="nav-item nav-link rounded-xl add-anime" href="/leaflet/europe">
              <i class="fas fa-archway fa-fw"></i>
              <p class="py-0 my-0 text-balo text-sm">Europe</p>
            </a>
            <a class="nav-item nav-link rounded-xl add-anime" href="/leaflet/asia">
              <i class="fas fa-sun"></i>
              <p class="py-0 my-0 text-balo text-sm">Asia</p>
            </a>            
          </ul>
        <form class="form-inline mt-2 mt-md-0">
          <!-- legend for country board -->
          <ul class="list-inline my-1" style="font-size:smaller;">
            <li class="list-inline-item">
              <i class="fa fa-flag" aria-hidden="true"></i>
              Code
            </li>
            <li class="list-inline-item">
              <i class="fa fa-users" aria-hidden="true"></i>
              Population
            </li>

            <li class="list-inline-item">
              <span class="fa-stack text-center">
                <i class="fas fa-globe fa-stack-1x text-secondary"></i>
                <i class="fas fa-minus fa-stack-1x text-primary"></i>
              </span>
              Latitude
            </li>
            <li class="list-inline-item">
              <span class="fa-stack text-center">
                <i class="fas fa-globe fa-stack-1x text-secondary"></i>
                <i class="fas fa-minus fa-stack-1x fa-rotate-90 text-primary"></i>
              </span>
              Longitude
            </li>
          </ul>
          <div class="btn-group ml-2 my-0" role="group" aria-label="Button group">

            <button class="btn btn-lg btn-outline-success rounded-2xl disabled my-2 my-sm-0">
              <i class="fa fa-flag" aria-hidden="true"></i>
              <i id="countryCode"></i>
            </button>
            <button class="btn btn-lg btn-outline-success rounded-2xl disabled my-2 my-sm-0">
              <i class="fa fa-users" aria-hidden="true"></i>
              <i id="countryPop"></i>
            </button>
            <button class="btn btn-lg btn-outline-success rounded-2xl disabled my-2 my-sm-0">
              <span class="fa-stack text-center">
                <i class="fas fa-globe fa-stack-1x text-success"></i>
                <i class="fas fa-minus fa-stack-1x text-primary"></i>
              </span>
              <i id="countryLat"></i>
            </button>
            <button class="btn btn-lg btn-outline-success rounded-2xl disabled my-2 my-sm-0">
              <span class="fa-stack text-center">
                <i class="fas fa-globe fa-stack-1x text-success"></i>
                <i class="fas fa-minus fa-stack-1x fa-rotate-90 text-primary"></i>
              </span>
              <i id="countryLong"></i>
            </button>
          </div>
        </form>
      </div>
    </nav>


    <main role="main" class="container-fluid" style="margin-top: 70px;">
      <hr class="mt-0 mb-3" style="border-color: #2aa198;border-width: thin;">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

          {% block content %}{% endblock%}
    </main>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

  </body>

</html>
