<!DOCTYPE html>
<html>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" class="favicon" href="
			https://raw.githubusercontent.com/attila5287/displaytracker_img/master/dtSquare.png" />
    
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/solar/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
      integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" />

    <!-- set title on route by render_template(... ,title='test') -->
    {% if title %}
    <title>COVID-19-Tracker-{{ title }}</title>
    {% else %}
    <title>COVID-19-Tracker</title>
    {% endif %}
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
        <div class="container">
          <a class="navbar-brand mr-4" href="https://coronavizdata.herokuapp.com" style="font-family: cursive;">
          <img 
          class="m-0 p-0"
          src="
          {{ url_for('static', filename='img/site/co_hex.png') }}
          
          "
          style="height: 2.75rem;"
          >
        </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
          <ul class="navbar-nav mr-auto">
            <a class="nav-item nav-link rounded-xl add-anime" href="/dashboard">
              <i class="fas fa-tachometer-alt fa-fw text-wrap"></i>
              <p class="mb-0 text-balo text-sm">
                Dashboard
              </p>
            </a>
            <a class="nav-item nav-link rounded-xl add-anime" href="/table">
              <i class="fas fa-table fa-fw"></i>
              <p class="mb-0 text-balo text-sm">Table</p>
            </a>
            <a class="nav-item nav-link rounded-xl add-anime" href="/interactive-axis">
              <i class="fas fa-swatchbook fa-fw"></i>
              <p class="py-0 my-0 text-balo text-sm">Interactive</p>
            </a>
            <a class="nav-item nav-link rounded-xl add-anime" href="/leaflet/bubble">
              <i class="fas fa-globe-americas fa-fw"></i>
              <p class="py-0 my-0 text-balo text-sm">Bubble</p>
            </a>
            <a class="nav-item nav-link rounded-xl add-anime text-nowrap" href="/leaflet/choropleth">
              <i class="fas fa-flag fa-fw"></i>
              <p class="py-0 my-0 text-balo text-sm">US (States)</p>
            </a>
            <a class="nav-item nav-link rounded-xl add-anime" href="/leaflet/europe">
              <i class="fas fa-archway fa-fw"></i>
              <p class="py-0 my-0 text-balo text-sm">Europe</p>
            </a>
            <a class="nav-item nav-link rounded-xl add-anime" href="/leaflet/asia">
              <i class="fas fa-sun"></i>
              <p class="py-0 my-0 text-balo text-sm">Asia</p>
            </a>            
          </ul>
            </div>
          </div>
        </div>
      </nav>

      <hr class="mt-1" style="border-color: #2aa198;">
      

    <main role="main" class="container">
      <div class="row">
        <div class="col-lg-10">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          {% block content %}{% endblock%}
        </div>


<style>
   
</style>

        <!-- sidebar -->
        <div class="col-lg-2">
          <div class="sidebar-section text-center px-1">
              <div class="text-center py-0 mt-0">
                <img 
                class="img-fluid mt-0 mb-0" 
                alt="sidebar top img"
                src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/general/sidebar_denver_realPhoto.png"
                style="height: 8rem;"
                >
              </div>
              <button type="button" class="btn btn-outline-success text-light btn-dark btn-block rounded-2xl mt-1 mb-2">
                <i class="fas fa-map-signs"></i>
                Site Map
              </button>
              <div class="list-group sidebar-section text-center mt-1 mb-0" style="border-radius: 4px;">
                <a href="/dashboard" class="list-group-item list-group-item-action">
                  <i class="fas fa-tachometer-alt"></i>
                  Dashboard
                </a>
                <a href="/table" class="list-group-item list-group-item-action">
                  <i class="fas fa-table"></i>
                  Table
                </a>
                <a href="/about" class="list-group-item list-group-item-action">
                  <i class="fas fa-info-circle"></i>
                  About
                </a>
              </div>              
              <div class="text-center py-0">
              <img 
                class="img-fluid mb-2 mt-1" 
                alt="sidebar bottom img"
                src="https://raw.githubusercontent.com/attila5287/displayTracker_img/master/general/sidebar_bottom_waves05.png"
                style="height: 7rem;"
                >
              </div>  
                
            </div>
        </div>
      </div>
    </main>
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>

</html>
