<!DOCTYPE html>
<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" class="favicon" href="../static/img/election/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/solar/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">

    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
      integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <!-- set title on route by render_template(... ,title='test') -->
    <title>COVID-19-DataViz</title>
  </head>
  <body class="bg-body" style="margin-top: 70px;">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-coral py-1 my-0">
        <a class="navbar-brand bg-transparent mx-0 p-0 border-0 rounded-xl add-anime"
          href="https://electiondataviz.herokuapp.com/">
          <img class="m-0 px-0 py-0" src="/static/img/election/navIconTest.png" style="height: 3rem;" alt="navbar-icon">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center bg-coral" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <a class="nav-item nav-link bg-transparent rounded-xl add-anime" href="/timeseries">
              <i class="fas fa-chart-line fa-fw text-onerem mt-1"></i>
              <p class="mb-0 text-comfo text-onerem">TimeSrs</p>
            </a>
            <a class="nav-item nav-link bg-transparent rounded-xl add-anime" href="/candidates">
              <i class="fas fa-users fa-fw text-onerem mt-1"></i>
              <p class="mb-0 text-comfo text-onerem">Cand's</p>
            </a>
            <a class="nav-item nav-link bg-transparent rounded-xl add-anime" href="/map">
              <i class="fas fa-globe-americas fa-fw text-onerem mt-1"></i>
              <p class="py-0 my-0 text-comfo text-onerem"> Map</p>
            </a>
            <a class="nav-item nav-link bg-transparent rounded-xl add-anime disabled">
              <h6 class="text-light opac-90 " aria-hidden="true">
                <strong>
                  Democrats
                </strong>
              </h6>
              <p class="rounded-lg text-center text-primary text-larger text-digi text-nowrap bg-black pt-1 pb-1 px-1 mb-1"
                id="blue-popvote-perc">
                00.0
                <i class="fas fa-percent text-sm text-primary" aria-hidden="true"></i>
              </p>
            </a>
            <a class="nav-item nav-link bg-transparent rounded-xl add-anime mx-0 px-0"
              href="https://electiondataviz.herokuapp.com/">
              <img class="opac-50 m-0 px-0 py-0" src="/static/img/election/ballot.png" style="height: 3rem;"
                alt="navbar-icon">
              <p class="text-xs text-nowrap mb-0 opac-50"><strong>Popular Vote</strong></p>
            </a>
            <a class="nav-item nav-link bg-transparent rounded-xl add-anime disabled">
              <h6 class="text-light opac-90 " aria-hidden="true">
                <strong>
                  Republicans
                </strong>
              </h6>
              <p class="rounded-lg text-center text-danger text-larger text-digi text-nowrap bg-black pt-1 pb-1 px-1 mb-1"
                id="red-popvote-perc">
                00.0
                <i class="fas fa-percent text-sm text-danger" aria-hidden="true"></i>
              </p>
            </a>
            <a class="nav-item nav-link bg-transparent rounded-xl add-anime disabled">
              <h6 class="text-light opac-90 " aria-hidden="true">
                <strong>
                  Democrats
                </strong>
              </h6>
              <p class="rounded-lg text-center text-primary text-larger text-digi text-nowrap bg-black pt-1 pb-1 px-1 mb-1"
                id="blue-elecvote-perc">
                00.0
                <i class="fas fa-percent text-sm text-primary" aria-hidden="true"></i>
              </p>
            </a>
            <a class="nav-item nav-link bg-transparent rounded-xl add-anime"
              href="https://electiondataviz.herokuapp.com/">
              <img class="opac-70 m-0 px-0 py-0" src="/static/img/election/ball0t.png" style="height: 4rem;"
                alt="navbar-icon">
            </a>
            <a class="nav-item nav-link bg-transparent rounded-xl add-anime disabled">
              <h6 class="text-light opac-90 " aria-hidden="true">
                <strong>
                  Republicans
                </strong>
              </h6>
              <p class="rounded-lg text-center text-danger text-larger text-digi text-nowrap bg-black pt-1 pb-1 px-1 mb-1"
                id="red-elecvote-perc">
                00.0
                <i class="fas fa-percent text-sm text-danger" aria-hidden="true"></i>
              </p>
            </a>
            <a class="nav-item nav-link bg-transparent">
              <select class="bg-transparent" id="opts">
              </select>
            </a>
          </ul>
        </div>
      </nav>
    </header>

    <div class="row mt-2">
      <div class="col-sm-4 text-center mt-2 mx-2">
        <div class="card border-0 bg-transparent">
          <div id="bars-count" class=" text-center bg-glass rounded-qtr"></div>
          
        </div>
      </div>
      <div class="col-sm-4 text-center mt-2 mx-2">
        <div class="card border-0 bg-transparent">
          <div id="bars-perc" class="text-center bg-glass rounded-qtr"></div>
        </div>
      </div>
    
      <div class="col-sm-4 text-center mt-2 mx-2">
        <div class="card border-0 bg-transparent">
          <div id="time-series-count" class="text-center bg-glass  rounded-qtr"></div>
        </div>
      </div>
      <div class="col-sm-4 text-center mt-2 mx-2">
      <div class="card border-0 bg-transparent">
          <div id="time-series-perc" class="text-center bg-glass  rounded-qtr"></div>
        </div>
      </div>
      <div class="col-sm-4 text-center mt-2 mx-2">
        <div id="table-goes-here">
          <table></table>
        </div>
      </div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script src="/static/data/json/st-dicts.js"></script>
    <script src="/static/util/abbrNum.js"></script>
    <script src="/static/plugins/ddslick.js"></script>
    <!-- <script src="/static/plugins/d3-tip.js"></script> -->
    <script src="/static/assets/navbars/fixed-top.js"></script>

    <script src="/static/assets/charts/st-prepTime.js"></script>
    <script src="/static/assets/charts/st-bars.js"></script>
    <script src="/static/assets/charts/st-circles.js"></script>
    <script src="/static/assets/charts/init.js"></script>
    
    <script src="/static/assets/tables/tb-light.js"></script>
  </body>

</html>
