<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" class="favicon" href="../static/img/election/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/cerulean/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">

    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
      integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <!-- set title on route by render_template(... ,title='test') -->
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Baloo+2' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">

    <!-- title -->
    <title>US States Time Series</title>

  </head>
  <style>
    #map {
      height: 220px;
      width: 95%;
      margin: 12px;
    }
  </style>

  <body class="bg-body" style="margin-top: 70px;">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-coral py-1 my-0">
        <a class="navbar-brand bg-transparent mx-0 p-0 border-0 rounded-xl add-anime"
          href="https://electiondataviz.herokuapp.com/">
          <img class="m-0 px-0 py-0" src="/static/img/election/navIconTest.png" style="height: 3rem;" alt="navbar-icon">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center bg-coral" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <a class="nav-item nav-link bg-transparent rounded-xl add-anime" href="/timeseries">
              <i class="fas fa-chart-line fa-fw text-onerem mt-1"></i>
              <p class="mb-0 text-comfo text-onerem">TimeSrs</p>
            </a>
            <a class="nav-item nav-link bg-transparent rounded-xl add-anime" href="/candidates">
              <i class="fas fa-users fa-fw text-onerem mt-1"></i>
              <p class="mb-0 text-comfo text-onerem">Cand's</p>
            </a>
            <a class="nav-item nav-link bg-transparent rounded-xl add-anime" href="/map">
              <i class="fas fa-globe-americas fa-fw text-onerem mt-1"></i>
              <p class="py-0 my-0 text-comfo text-onerem"> Map</p>
            </a>
            <a class="nav-item nav-link bg-transparent">
              <select class="bg-transparent" id="opts">
              </select>
            </a>
          </ul>
        </div>
      </nav>
    </header>

    <div class="row mt-2">
      <!-- state focused map and charts -->
      <div class="col-md-2">
        <!-- demographic profile -->
        <div class="card bg-glass rounded-3xl">
          <div class="card-body py-1 mt-4 mb-4">
            <div class="d-flex flex-row justify-content-around">
              <ul class="list-group list-group-flush text-bold text-right mb-2">
                <li class="list-group-item py-0 bg-transparent gen">
                  White
                  <i class="led-sm text-nowrap mt-0 mb-1 mx-2 px-3" id="stWhite">
                    00,00
                  </i>
                </li>
                <li class="list-group-item py-0 bg-transparent gen">
                  Hispanic
                  <i class="led-sm text-nowrap mt-0 mb-1 mx-2 px-3" id="stHisp">
                    00,00
                  </i>
                </li>
                <li class="list-group-item py-0 bg-transparent gen">
                  Black
                  <i class="led-sm text-nowrap mt-0 mb-1 mx-2 px-3" id="stBlack">
                    00,00
                  </i>
                </li>
              </ul>
              <ul class="list-group list-group-flush text-bold text-right mb-2">
                <li class="list-group-item py-0 bg-transparent gen">
                  Asian
                  <i class="led-sm text-nowrap mt-0 mb-1 mx-2 px-3" id="stAsian">
                    00,00
                  </i>
                </li>
                <li class="list-group-item py-0 bg-transparent gen">
                  Native
                  <i class="led-sm text-nowrap mt-0 mb-1 mx-2 px-3" id="stNative">
                    00,00
                  </i>
                </li>
                <li class="list-group-item py-0 bg-transparent gen">
                  Min Total
                  <i class="led-sm text-nowrap mt-0 mb-1 mx-2 px-3" id="stMinTotal">
                    00,00
                  </i>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- population/median hhi -->
        <div class="card bg-glass rounded-3xl">
          <div class="card-body py-1 mt-3 mb-4">
              <ul class="list-group list-group-flush text-bold text-left mb-2">
                <li class="list-group-item py-0 bg-transparent gen">
                  Median HHI*<br>
                    <i class="led-md text-nowrap mt-0 mb-1 px-3" id="stMedHHI">
                    00,00
                  </i>
                  $/yr

                </li>
                <li class="list-group-item py-0 bg-transparent gen">
                  Ranking** <br>
                  <i class="led-sm mt-0 mb-1 px-3" id="stMedHHIRank">
                    00
                  </i>
                  th
                </li>
              
                <li class="list-group-item py-0 bg-transparent gen">
                  Min Wage <br>
                  <i class="led-md text-nowrap mt-0 mb-1 px-3" id="stMinWage">
                    00,00
                  </i>
                  $/hr
                </li>
                <li class="list-group-item py-0 bg-transparent gen">
                  Ranking**<br>
                  <i class="led-sm text-nowrap mt-0 mb-1 px-3" id="stMinWgRank">
                    00
                  </i>
                  th
                </li>
              </ul>
            <div class="neg card-footer py-0">
              * Household Income <br>
              ** National Ranking (0-51)
            </div>
          </div>
        </div>
        <div class="card bg-glass rounded-3xl">
          <div class="card-body py-1 mt-3 mb-4">
              <ul class="list-group list-group-flush text-bold text-left mb-2">
                <li class="list-group-item py-0 bg-transparent gen">
                  State Population*
                    <i class="led-md text-nowrap mt-0 mb-1 px-3" id="stPop">
                    00,00
                  </i>
                </li>
                <li class="list-group-item py-0 bg-transparent gen">
                  Ranking** <br>
                  <i class="led-sm mt-0 mb-1 px-3" id="stPopRank">
                    00
                  </i>
                  th
                </li>
                <li class="list-group-item py-0 bg-transparent gen">
                  Perc Over 18<br>
                  <i class="led-md text-nowrap mt-0 mb-1 px-3" id="stAge18Perc">
                    00,00
                  </i>
                %  
                </li>
                <li class="list-group-item py-0 bg-transparent gen">
                  Ranking**<br>
                  <i class="led-sm text-nowrap mt-0 mb-1 px-3" id="stMinWgRank">
                    00
                  </i>
                  th
                </li>
                <li class="list-group-item py-0 bg-transparent gen">
                  Median Age<br>
                  <i class="led-md text-nowrap mt-0 mb-1 px-3" id="stMedAge">
                    00,00
                  </i>
                %  
                </li>
                <li class="list-group-item py-0 bg-transparent gen">
                  Ranking**<br>
                  <i class="led-sm text-nowrap mt-0 mb-1 px-3" id="stMedAgeRank">
                    00
                  </i>
                  th
                </li>
              </ul>
            <div class="neg card-footer py-0">
              * Estimated '20 <br>
              ** National Ranking (0-51)
            </div>
          </div>
        </div>

      </div>
      <!-- charts -->
      <div class="col-md-4">
        <!-- map -->
        <div class="card border-0 bg-glass rounded-qtr">
          <div class="container shadow-before rounded-3xl" id="map" style="box-shadow:0 0 4px 8px #01325296 inset;">
          </div>
        </div>
        <!-- bars perc -->
        <div class="card border-0 bg-transparent">
          <div id="bars-perc" class="text-center bg-glass  rounded-qtr"></div>
        </div>
        <!-- time series perc -->
        <div class="card border-0 bg-transparent">
          <div id="time-series-perc" class="text-center bg-glass  rounded-qtr"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <!-- state flag and name -->
          <div class="col-sm-4">
            <div class="card bg-glass text-center text-light rounded-3xl mx-0 p-2">
              <img class="card-img-bottom bg-glass text-center opac-60 rounded-3xl p-3  mt-2 mb-1" src="../static/img/states/colorado-flag-small.png" alt="state-flag" style="box-shadow:0 0 4px 8px #01325296 inset;" id="stFlag">
              
                <div class="card-body py-1 mb-1">
                <p class=" card-text bg-dark text-titlecase text-comfo rounded-2xl p-1"
                  id="stName">
                  ...
                </p>
              </div>
                <div class="card-footer py-1 mb-1">
            </div>
            </div>
          </div>
          <!--gauge  -->
          <div class="col-sm-8">
            <div class="card border-0 bg-transparent">
              <div class="card-body">
                <div id="gauge-swing" class="bg-glass rounded-qtr"></div>
              </div>
            </div>
        </div>
        </div>
        <!-- bars count -->
        <div class="card border-0 bg-transparent">
          <div id="bars-count" class=" text-center bg-glass rounded-qtr"></div>
        </div>
        <!-- time ser count -->
        <div class="card border-0 bg-transparent">
          <div id="time-series-count" class="text-center bg-glass rounded-qtr"></div>
        </div>
      </div>
      <!-- table -->
      <div class="col-md-2 text-center mt-2">
        <div id="table-goes-here">
          <table></table>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script src="/static/util/abbrNum.js"></script>
    <script src="/static/plugins/ddslick.js"></script>

    
    <script src="/static/data/json/st-dicts.js"></script>
    <script src="/static/data/geojson/us-states.js"></script>
    
    <script src="/static/data/prep/st-prepTime.js"></script>


    <script src="/static/assets/general/dropdown-stfocus.js"></script>
    
    <script src="/static/assets/timeseries/charts/st-bars.js"></script>
    <script src="/static/assets/timeseries/charts/st-circles.js"></script>
    <script src="/static/assets/timeseries/charts/st-gauge.js"></script>

    <script src="/static/assets/leaflet/st-focused.js"></script>

    <script src="/static/assets/timeseries/xtra/st-numbers.js"></script>
    <script src="/static/assets/timeseries/init.js"></script>
    
    <script src="/static/assets/tables/tb-lightest.js"></script>

  </body>

</html>
